<img class="title" src="../../assets/images/about/border_about.svg" alt="Border">

<div class="me">
  <div class="text">
    <p>Здравствуйте, меня зовут Юлия. Я разрабатываю дизайн веб-сайтов: (лендинги, сайты визитки, сайты – портфолио, баннеры),
      с учетом целевой аудитории, стилистики, удобства использования (usability). Дизайн — это не только красивая картинка это
      инструмент, который должен продавать и помогать пользователю найти нужную информацию.
    </p>
    <p>Я предпочитаю лаконичный современней не перезагруженный дизайн. Дизайн должен делать предложение и в то же время не быть не навязчивым.
    </p>
  </div>
  <img src="../../assets/images/about/me.jpg" alt="Me">
</div>

<div class="helper">
  <div class="prefer">
    <p>Предпочитаю работать в</p>
    <div class="icon">
      <img src="../../assets/images/about/PS.png" alt="PS">
      <img src="../../assets/images/about/Figma.png" alt="Figma">
      <img src="../../assets/images/about/AI.png" alt="AI">
    </div>
  </div>
</div>


<div class="do_it">
  <div class="word">
    <p class="white">Что я делаю?</p>
    <p class="red">Что я делаю?</p>
  </div>
  <div class="blocks">
    <div class="grid">
      <div class="item">
        <div class="up">
          <h1 class="text">Сайт-визита</h1>
          <img src="../../assets/images/about/icon_bussines_card.png" alt="Card">
        </div>
        <p>Это ваша визитная карточка в интернете. Цель —  передать информацию о вас, ваши контакты и чем вы занимаетесь.
          Полезный для новичков на рынке, или для тех кто еще не заявил о себе.</p>
      </div>

      <div class="item">
        <div class="up">
          <h1 class="text">Лендинг</h1>
          <img src="../../assets/images/about/icon_landing.jpg" alt="Card">
        </div>
        <p>Одностраничный сайт, цель которого, мотивировать пользователя сделать что-то (записаться, купить, заказать).
          А также используется для усиления эффективности рекламы и увеличения аудитории.</p>
      </div>

      <div class="item">
        <div class="up">
          <h1 class="text">Сайт-портфолио</h1>
          <img src="../../assets/images/about/icon_portfolio.png" alt="Card">
        </div>
        <p>Это презентация работ/навыков отдельного человека или коллектива.Дизайн сайта должен подчеркивающий
          индивидуальность автора, Ваш стиль.Главный атрибут фото-галлерея ваших работ.
        </p>
      </div>

      <div class="item">
        <div class="up">
          <h1 class="text">Промо-сайт</h1>
          <img src="../../assets/images/about/icon_promo.svg" alt="Card">
        </div>
        <p>Цель — предоставить новый конкретный товар услугу, событие. Зачастую используется для рекламы продукта который
          только планируют запустить, а так же для проверки заинтересованности аудитории.</p>
      </div>

      <div class="item">
        <div class="up">
          <h1 class="text">Банеры
          </h1>
          <img src="../../assets/images/about/icon_banner.png" alt="Card">
        </div>
        <p>Это графическое изображение рекламного характера для сайтов или социальных сетей. Его цель проинформировать
          клиента, привлечь внимание и заставить перейти на рекламируемую страницу, нажав на баннер.
        </p>
      </div>

      <div class="item">
        <div class="up">
          <h1 class="text">Личный сайт</h1>
          <img src="../../assets/images/about/icon_personal_site.png" alt="Card">
        </div>
        <p>Или персональный, представляет собой личную страницу отдельного человека, или группы людей.
          Содержит в себе сведения личного или биографического характера, информацию об оказываемых услугах.</p>
      </div>
      
    </div>
  </div>
</div>
