.open_menu {
  z-index: 5;
  height: 100%;
  width: 250px;
  background-color: #A11414;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.open_menu .exit {
  width: 20%;
  max-width: 30px;
  height: auto;
  display: block;
  float: right;
  margin-top: 15px;
  margin-right: 10px;
}

.exit:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.open_menu .social {
  overflow: hidden;
  position: absolute;
  bottom: 5%;
  height: 70px;
  width: 250px;
}

.open_menu .social a {
  display: inline-block;
  margin: 10px 0 0 25px;
}

a:hover {
  cursor: pointer;
  transform: scale(1.25);
}


.open_menu ul {
  overflow: hidden;
  width: 200px;
  font-family: 'Ubuntu Mono', monospace;
  padding-left: 30px;
  list-style-type: none;
  font-size: 1.5em;
  position: absolute;
  top: 20%;
  display: block;
  color: white;
}

.open_menu li:hover {
  cursor: pointer;
  font-size: 1.1em;
}

.open_menu li a {
  text-decoration: none;
  color: white;
}

.open_menu li {
  margin-bottom: 40px;
}

.menu {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 25px;
  left: 2%;
}

.menu button {
  background: url("../../assets/images/menu/menu_button.svg") no-repeat;
  outline: none;
  height: 60px;
  width: 60px;
  border: 0;
  padding: 0;
}

.menu button:hover {
  background: url("../../assets/images/menu/menu_button_active.svg") no-repeat;
  cursor: pointer;
  transform: scale(1.2);
}

button {

}
