<img class="photo" src="../../assets/images/work/work.svg" alt="Work">

<div class="title">
  <img src="../../assets/images/work/border_work.svg" alt="Border">
  <p>Как я работаю</p>
  <p id="red">Как я работаю</p>
</div>

<div class="right">
  <p class="p1">Работа над сайтом состоит из нескольких этапов. 1. Разработка дизайна сайта (визуальная часть) и верстка (программная часть). Я занимаюсь дизайном, и сотрудничаю с верстальщиком.
    Вы можете заказать у меня дизайн или комплект (дизайн + верстка).
  </p>

  <div class="right_red">
    <p>Этапы работы</p>
  </div>

  <div class="list">
    <div class="list_item">
      <p class="number">01</p>
        <p class="text">
          Вы заполняете бриф (анкету), для того, чтобы я поняла цели и задачи будущего сайта,
          а также учла все пожелания по дизайну. Если у вам есть готовое техническое задание, пришлите его на почту.
        </p>
    </div>

    <div class="list_item">
      <p class="number">02</p>
        <p class="text">
          Создание прототипа сайта (условная схема с расположением элементов).
          После утверждения прототипа приступаю к отрисовки макета.
        </p>
    </div>

    <div class="list_item">
      <p class="number">03</p>
        <p class="text">
          Отрисовка макета сайта по прототипу. Отрисовываю страницы и высылаю Вам на утверждение. Если верстка не нужна - отправляю вам макет.
        </p>
    </div>

    <div class="list_item">
      <p class="number">04</p>
      <p class="text">
        Передача макета верстальщику и верстка сайта (если заказываете верстку).
      </p>
    </div>

    <div class="list_item">
      <p class="number">05</p>
      <p class="text">
        Вы получаете ваш заказ.
      </p>
    </div>
  </div>

  <div class="right_red">
    <p>Способ оплаты и передачи заказа</p>
  </div>

  <div class="list">
    <div class="list_item">
      <p class="number">01</p>
      <p class="text">
        Поэтапная оплата – за каждую страницу или часть работы.
      </p>
    </div>

    <div class="list_item">
      <p class="number">02</p>
      <p class="text">
        Через биржу фриланса с помощью безопасной сделки. Это сервис, который дает финансовые гарантии обоим участникам проекта.
        Заказчик вносит полную сумму за работу, а сервис хранит их до того момента, пока исполнитель не выполнит задание.
        Как только заказ будет принят — деньги переходят на счет фрилансера.
      </p>
    </div>

    <div class="list_item">
      <p class="number">03</p>
      <p class="text">
        Я отсылаю вам дизайн в виде картинки с защитой изображения (водными знаками).
        После оплаты вы получаете документ в необходимом формате для верстки.
      </p>
    </div>
  </div>

  <div class="white_block">
    <p>Вы можете мне написать через форму связи, на почту или в соц.сеть.</p>
    <p>В процессе работы над проектом, предпочитаю общение по электронной почте или в мессенджере (так все нюансы будут в письменном виде и не будет спорных моментов)</p>
    <p>Срок выполнение работы зависит от ее вида и объема — от 1 дня до 2 недель. Скорость моей работы будет зависеть от согласования этапов проекта.</p>
    <p class="bold">Отвечаю на сообщения в течение дня.</p>
  </div>

</div>

<div class="brief">
  <div class="brief_text">
    <p>Заполнить бриф</p>
    <p>можно здесь</p>
  </div>
  <img class="brief_arrow" src="../../assets/images/work/brief_arrow.svg" alt="Arrow">
  <img class="brief_icon" src="../../assets/images/work/brief.svg" alt="Brief">
</div>


