<div class="hello">
  <img src="../../assets/images/main/Ellipse.svg" alt="Hello">
  <p>Hello</p>
</div>

<img class="girl" src="../../assets/images/main/girl.png" alt="Girl">

<div class="name">
  <p class="white">Юлия Степанюк</p>
  <p class="red">Юлия Степанюк</p>
</div>

<div class="web">
  <img src="../../assets/images/main/border.svg" alt="Border">
  <p>WEB DESINGER</p>
  <p class="red">WEB DESINGER</p>
</div>

<img id="menu" src="../../assets/images/main/menu_word.svg" alt="Menu">
<img id="contact" src="../../assets/images/main/contact_word.png" alt="Contact">
