.web {
  z-index: 2;
  margin: 0;
  position: absolute;
  width: 30%;
  height: 9vw;
  max-height: 125px;
  max-width: 400px;
  min-height: 69px;
  min-width: 230px;
  top: 65%;
  left: 25%;
}

.web img{
  left: 0;
  position: absolute;
  width: 100%;
  height: auto;
}

.web p {
  text-align: center;
  transform: translateY(-50%);
  z-index: 3;
  top: 50%;
  margin: 0;
  width: 100%;
  color: white;
  font-family: 'Amatic SC', serif;
  font-size: 5vw;
  min-font-size: 20px;
  position: absolute;
}

.web .red {
  z-index: 2;
  color: red;
}

.name {
  font-family: 'Amatic SC', serif;
  position: absolute;
  font-size: 3.5em;
  width: 25%;
  height: 4em;
  left: 70%;
  top: 20%;
}

.white {
  position: absolute;
  z-index: 2;
  color: white;
}
.red {
  z-index: 1;
  position: absolute;
  top: 0.5%;
  left: 0.5%;
  color: red;
}


.hello{
  top: 10%;
  left: 15%;
  position: absolute;
  width: 300px;
  height: 200px;
}

.hello img {
  position: absolute;
  width: 100%;
  height: auto;
}

.hello p {
  font-family: 'Amatic SC', serif;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 6em;
}

.girl {
  z-index: 1;
  position: absolute;
  left: 60%;
  transform: translate(-50%);
  top: 0;
  height: 100%;
  overflow: hidden;
}
