<div class="menu">
  <img [src]="menuImg" alt="Menu" (click)="menu()">
</div>

<div class="hello">
  <img [src]="ellipseImg" alt="Hello">
  <p>Hello</p>
</div>

<img class="girl" [src]="girlImg" alt="Girl">

<div class="name">
  <p class="white">Юлия Степанюк</p>
  <p class="red">Юлия Степанюк</p>
</div>

<div class="web">
  <img [src]="borderImg" alt="Border">
  <p>WEB DESINGER</p>
  <p class="red">WEB DESINGER</p>
</div>
<div class="contact">
  <img [src]="contactImg" (click)="contact()">
</div>

<router-outlet></router-outlet>
